# Include the README
include *.md

# Include the license file
include LICENSE

# Include the headers files
recursive-include include *
recursive-include lib/parallel-hashmap *
recursive-include lib/json_parser *
recursive-include lib/zstr *

# Include nanobind bindings source
include src/python_bindings.cpp

# Include C++ source files
recursive-include src *.cpp *.hpp
recursive-include apps *.cpp

# Include Python packages
recursive-include pykSpider/ *
